.add-movie{
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;

  a{
    width: 30%;
    height: 45px;
    background-color: #85CDBC;
    text-align: center;
    font-size: 1.7em;
    text-decoration: none;

    span{
      color: black;
    }
  }
}


.form-container{
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;

  form{
    width: 30%;
  }
}

.movies-container {
  margin-top: 40px;
  width: 100%;

  .display-one-movie-container {
    width: 65%;
    display: flex;
    margin-right: auto;
    margin-left: auto;

    .list-group-item-secondary {
      flex-grow: 8;
      margin: auto;
      background-color: #EEEEEE;
      width: 30%;

    }
    mat-list-item:hover {
      cursor: pointer;
      background-color: #85CDBC;
      transition: 0.5s;
    }
    button {
      width: 10%;
      margin: 2px 2px 2px 15px;
      text-align: center;
      padding: 2px 2px 2px 2px;

    }

  }
}

#edit-button{
  background-color: #85CDBC;
}


