<div class="add-movie">
  <a routerLink="/addMovie"><span>Add movie</span></a>
</div>

<div class="form-container">
<form #findMovieForm = "ngForm" >
  <div class="input-group">
    <input ngModel type="text" class="form-control" placeholder="search movie" name="search" id ="search">
    <div class="input-group-btn">
      <button class="btn btn-default btn-lg">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>
</form>
</div>

<div class="movies-container">
  <mat-list *ngFor="let movie of moviesList" class="list-group" >
    <div class="display-one-movie-container" *ngIf="displaySearchedMovie(movie, findMovieForm)" >
      <mat-list-item class="list-group-item list-group-item-secondary">
        <span>{{movie.title}}</span>
      </mat-list-item>
      <!--TODO letters in buttons should change size-->
      <button routerLink="/movie/{{movie.id}}/edit" class="btn btn-default btn-lg" id = "edit-button">Edit</button>
      <button class="btn btn-default btn-lg delete-button" (click)="deleteMovie(movie.id, movie.title)">Delete</button>
      </div>
  </mat-list>
</div>

