<form ngForm="crewListForm" (ngSubmit)="onSubmit()">
  <mat-card-header>
    <mat-toolbar class="toolbar">
      <mat-card-title>Add {{crewRole.crewRole.toLowerCase()}} to movie</mat-card-title>
    </mat-toolbar>
  </mat-card-header>

  <div class="form-container">
    <form #findCrewForm = "ngForm">
      <div class="input-group">
        <input ngModel type="text" class="form-control" placeholder="insert surname" name="search" id="search">
        <div class="input-group-btn">
          <button class="btn btn-default btn-lg">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
  <div *ngFor="let crew of crewList">
    <div  *ngIf="displaySearchedCrew(crew, findCrewForm)">

        <div class="display-one-movie-container">
          <input type="checkbox" (change)="checkCrew(crew, $event)">

          <mat-list-item class="list-group-item list-group-item-secondary">
            <span>{{crew.name}} {{crew.surname}} {{crew.crewRoles}} </span>
          </mat-list-item>
        </div>
    </div>
  </div>
  <div class="button-container">
  <button>submit</button>
  </div>
</form>






