<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-card-header>
  <mat-toolbar class="toolbar">
    <mat-card-title>Add actors to movie</mat-card-title>
  </mat-toolbar>
  </mat-card-header>

  <div class="form-container">

    <div class="input-group">
      <!--<input type="text" class="form-control" formControlName="searchBar" placeholder="search crew" name="search" id="search">-->
      <!--<input type="text" [ngModel]="query" class="form-control" placeholder="search crew" name="search" id="search" >-->
      <div class="input-group-btn">
        <button class="btn btn-default btn-lg">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>

  </div>


  <!--<mat-list -->
            <!--class="list-group">-->
    <div formArrayName="crewList" *ngFor="let crew of form.controls.crewList.controls;  let i = index" formGroupName="crewList" >
    <!--<div *ngIf="displaySearchedCrew(query, form)">-->
    <div class="crew-container">
      <div class="display-one-movie-container">
        <input type="checkbox" [formControlName]="i">
        <mat-list-item class="list-group-item list-group-item-secondary">
          <span>{{crewList[i].name}} {{crewList[i].surname}} {{crewList[i].crewRoles}} </span>
          <!--<span>{{crew.name}} {{crew.surname}} {{crew.crewRoles}} </span>-->
        </mat-list-item>
      </div>
    </div>
    <!--</div>-->
    </div>
  <!--</mat-list>-->


  <button>submit</button>
</form>






