<div id="header">
  <h3>Edit movie</h3>
</div>
<form #editMovieForm = "ngForm" >
  <div class="form-group row">
    <label for="title" class="col-sm-3 col-form-label">Title</label>
    <div class="col-sm-8 ">
      <input [(ngModel)]="movie.title" name = "title" type="text" class="form-control" id="title">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Directors</label>
    <button type="button" class="btn btn-primary mb-1" (click)="addCrewListToEditMovieComponent('DIRECTOR')" >Add from list</button>
    <button type="button" class="btn btn-primary mb-1" (click)="showOrHideDirectorsInEditMovie()">
      {{directorsListVisible == true ? "Hide list":
      "Display list"}}</button>
  </div>
  <div class="crew-list-container">
    <mat-list *ngFor="let director of existingDirectorsList" class="list-group">
      <div class="display-one-crew-container" *ngIf="directorsListVisible">
        <mat-list-item class="list-group-item list-group-item-secondary">
          <span>{{director.name}} {{director.surname}}</span>
        </mat-list-item>
        <!--TODO letters in buttons should change size-->
        <button class="btn btn-default btn-lg delete-button" (click)="deleteCrewFromEditMovieCopmonent(director, 'DIRECTOR')">Delete</button>
      </div>
    </mat-list>
  </div>

  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Actors</label>
    <button type="button" class="btn btn-primary mb-1" (click)="addCrewListToEditMovieComponent('ACTOR')" >Add from list</button>
    <button type="button" class="btn btn-primary mb-1" (click)="showOrHideActorsInEditMovie()">
      {{actorsListVisible == true ? "Hide list":
      "Display list"}}</button>
  </div>
  <div class="crew-list-container">
    <mat-list *ngFor="let actor of existingActorsList " class="list-group">
      <div class="display-one-crew-container" *ngIf= "actorsListVisible" >
        <mat-list-item class="list-group-item list-group-item-secondary">
          <span>{{actor.name}} {{actor.surname}}</span>
        </mat-list-item>
        <!--TODO letters in buttons should change size-->
        <button class="btn btn-default btn-lg delete-button" (click)="deleteCrewFromEditMovieCopmonent(actor, 'ACTOR')">Delete</button>
      </div>
    </mat-list>
  </div>
  <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-3 pt-0">Movie types</legend>
      <!-- TODO display inline/table ??-->
      <div class="col-sm-8">
        <div *ngFor="let movieType of movieTypesArray; let i = index;" >
          <label>
            <input type="checkbox" name="movieTypes" [checked] = "wasTypeSelected(movieType)" (change)="checkMovieType(i, $event)" >
            {{movieType.name}}
          </label>
        </div>
      </div>
    </div>
  </fieldset>
  <div class="form-group row">
    <label for="input-production" class="col-sm-3 col-form-label">Production country</label>
    <div class="col-sm-8">
      <input [(ngModel)] = "movie.productionCountry" name = "productionCountry" type="text" class="form-control" id="input-production">
    </div>
  </div>
  <div class="form-group row">
    <label for="input-production-year" class="col-sm-3 col-form-label">Production year</label>
    <div class="col-sm-8">
      <input [(ngModel)]="movie.productionYear" name = "productionYear" type="text" class="form-control" id="input-production-year">
    </div>
  </div>
  <div class="form-group row">
    <label for="input-duration" class="col-sm-3 col-form-label">Duration</label>
    <div class="col-sm-8">
      <input [(ngModel)]="movie.duration" name = "duration" type="text" class="form-control" id="input-duration">
    </div>
  </div>
<!-- TODO button's size-->
  <div class="button-container">
    <button routerLink="/allMoviesView" class="btn btn-primary mb-2">Back</button>
    <button type="submit" class="btn btn-primary mb-2" (click)="saveChanges(editMovieForm)">Save</button>
    <button id="cancelButton" type="reset" class="btn btn-primary mb-2" (click)="ngOnInit()">Reset</button>
  </div>
</form>
