#header{
  text-align: center;
  width: 100%;
  margin-top: 50px;

  h3{
    margin-left: auto;
    margin-right: auto;
  }
}

form{
  width: 40%;
  margin: 50px auto 20px;

  #div-directors {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  .button-container{
    display: flex;
    height: 80px;

    button{
      background-color: #85CDBC;
      width: 25%;
      height: 60%;
      margin-top: 10px;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
      padding: 2px 2px 2px 2px;
      border: none;
      color: black;
    }
  }

  button{
    background-color: #85CDBC;
    border: none;
    color: black;
    margin-left: 15px;
  }
}

.crew-list-container {
  margin-top: 5px;
  margin-bottom: 15px;
  width: 100%;

  .mat-list-base {
    padding-top: 0px;
  }

  .display-one-crew-container {
    width: 65%;
    display: flex;
    margin-right: auto;
    margin-left: 165px;

      .list-group-item-secondary {
        height: 30px;
        flex-grow: 8;
        margin: auto;
        background-color: #EEEEEE;
        width: 30%;

      }
      button {
        width: 20%;
        height: 28px;
        margin: 2px 2px 2px 15px;
        text-align: center;
        padding: 2px 2px 2px 2px;
        font-size: 1em;

      }
  }
  .delete-button{
    background-color: #E38F8F;
  }
}
