<div id="header">
  <h3>Add Crew</h3>
</div>

<form [formGroup]="addCrewForm" (ngSubmit)="save()">

  <div class="form-group row">
    <label for="name" class="col-sm-3 col-form-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="name" formControlName="name">
    </div>
  </div>

  <div class="form-group row">
    <label for="surname" class="col-sm-3 col-form-label">Surname</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="surname" formControlName="surname">
    </div>
  </div>

  <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-5 pt-0" >Crew Role</legend>
      <div class="col-sm-10">
        <div *ngFor="let role of crewRoles">

          <label>
            <input type="checkbox" name="crewRole" value="{{role.value}}"
                   (change)="checkCrewRole(role, $event)" >
            {{role.name}}
          </label>

        </div>
      </div>
    </div>
  </fieldset>
  <div class="button-container">
    <button type="button" class="btn btn-primary mb-2" routerLink="">Return</button>
    <button mat-raised-button type="submit" class="btn btn-primary mb-2">Save</button>
    <button type="reset" class="btn btn-primary mb-2">Reset</button>
    <button type="button" class="btn btn-primary mb-2" routerLink="/allCrewView">All crew</button>
  </div>
</form>
