/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body{
  background-color: #CACFCF;
  margin: 0% 0% 0% 0%;
}

.notification{
  color: black;
  top: 100px !important;
}

.success {
  background-color: #85CDBC;
}
.warn{
  background-color: #E38F8F;
}

simple-snack-bar{
  justify-content: center !important;
}

snack-bar-container{
  margin-top: 100px !important;
}

.delete-button{
  background-color: #E38F8F;
}

