<div class="add-Crew">
  <a routerLink="/addCrew"><span>Add crew</span></a>
</div>

<div class="form-container">
  <form #findCrewForm = "ngForm" >
    <div class="input-group">
      <input ngModel type="text" class="form-control" placeholder="search crew" name="search" id ="search">
      <div class="input-group-btn">
        <button class="btn btn-default btn-lg">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
  </form>
</div>

<div class="crew-container">
  <mat-list *ngFor="let crew of crewList" class="list-group" >
    <div class="display-one-movie-container" *ngIf="displaySearchedCrew(crew, findCrewForm)">
      <mat-list-item class="list-group-item list-group-item-secondary">
        <span>{{crew.surname}} {{crew.name}}</span>
      </mat-list-item>
      <button routerLink="/crew/{{crew.id}}/edit" class="btn btn-default btn-lg" id = "edit-button">Edit</button>
      <button class="btn btn-default btn-lg" id = "delete-button" (click)="deleteCrew(crew.id, crew.name, crew.surname)">Delete</button>
    </div>
  </mat-list>
</div>

